*.o
*.m.c
*.p.img
.cproject
.project
HW/examples/GHRD/GHRD.runs/*
HW/examples/GHRD/GHRD.cache/*
SW/compiler/Parser.tab.c
SW/compiler/Parser.tab.h
SW/compiler/compiler
SW/compiler/lex.yy.c
SW/build
HW/examples/GHRD/dgrid.cache
HW/examples/GHRD/dgrid.gen
HW/examples/GHRD/dgrid.hw
HW/examples/GHRD/dgrid.runs
HW/examples/GHRD/dgrid.srcs
HW/examples/GHRD/dgrid.xpr
HW/examples/GHRD/dgrid.sim
HW/examples/GHRD/dgrid.ip_user_files
HW/examples/GHRD/*.log
HW/examples/GHRD/*.jou
HW/examples/GHRD/*.backup.log
HW/examples/GHRD/*.backup.jou
HW/examples/GHRD/vivado_pid*.str
HW/examples/GHRD/uart_loopback
.Xil
tools/ghdl/build
tools/ghdl/soc.v
